@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap')

body {
  font-family: 'Roboto Mono', monospace;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #222;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(30, 61, 89, 0.85);
  color: #ffffff;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

nav{
  background-color: #db0007;
  text-align: center;
  padding: 1rem;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

