@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap')

body{
  font-family: 'Roboto Mono', monospace;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #222;
  margin: 0;
  padding: 0;
}